@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0px;
  padding: 0px;
  font-family: "McLaren", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif ;
  -ms-overflow-style: none;  /* IE and Edge */
  scroll-behavior: smooth !important;
}

.bubble {
	filter: blur(1px);
	opacity: 0.25;
	box-shadow: 10px 10px 80px rgba(255, 255, 255, 0.2);
}

.shadow-purple {
  box-shadow: 1px 5px 15px -1px rgba(99, 7, 192, 0.7);
}

.rotation {
  display: inline-block;
  animation: rotateLogo 3s linear forwards;
}

@keyframes rotateLogo {
  0% {
    transform: rotate(0deg); 
  }
  10% {
    transform: rotate(180deg); 
  }
  20% {
    transform: rotate(540deg);
  }
  50% {
    transform: rotate(3960deg);
  }
  80% {
    transform: rotate(7200deg); 
  }
  90% {
    transform: rotate(7920deg); 
  }
  100% {
    transform: rotate(8280deg); 
  }
}



